.create_block_modal {
  width: 924px;
  margin-left: -462px;
  height: 488px;
  margin-top: -244px;
  border-radius: 32px;
  background-color: #252525;
  .create_block_header {
    width: 100%;
    font-family: $font;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin-left: 59px;
      margin-top: 46px;
      margin-bottom: 32px;
      color: rgba(255, 255, 255, 0.87);
      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: -0.02em;
    }
    .create_block_close {
      cursor: pointer;
      width: 18px;
      height: 18px;
      margin-right: 61px;
      margin-top: 51px;
      background-image: url(asset-path("icons/close.svg"));
      background-size: contain;
      background-position: center;
    }
  }
  .create_block_cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 804px;
    justify-content: space-between;
    .create_block_card {
      cursor: pointer;
      width: 253px;
      height: 144px;
      background-size: contain;
      margin-bottom: 23px;
    }
    .image_block {
      background-image: url(asset-path("cards/content/Group180.svg"));
    }
    .heading_text_block {
      background-image: url(asset-path("cards/content/Group179.svg"));
    }
    .image_text_block {
      background-image: url(asset-path("cards/content/Group178.svg"));
    }
    .heading_caption_text_block {
      background-image: url(asset-path("cards/content/Group183.svg"));
    }
    .text_block {
      background-image: url(asset-path("cards/content/Group182.svg"));
    }
    .feature_block {
      background-image: url(asset-path("cards/content/Group181.svg"));
    }
  }
}
