.image_text_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .image_block {
    width: 458px;
  }
  .edit_column {
    width: 621px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    width: 345px;
    white-space: pre-line;
  }
}

.feature_block_edit {
  width: 100%;
}
