.header {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;
  height: 136px;
  background-color: #121212;
  display: flex;
  align-items: center;
}
