.default_input {
  font-family: $font;

  .label {
    font-size: 14px;
    font-weight: 500;

    & .normal {
      color: #595959;
    }

    & .active {
      color: #33ff00;
    }

    input {
      margin-top: 5px;
      font-size: 18px;
      outline: 0;
      border: 0;
      color: #595959;
    }
  }
}