@font-face {
  font-family: "GraphikLCG";
  font-weight: 400;
  font-style: normal;
  src: url(font-path("GraphikLCG-Regular.woff"));
}

@font-face {
  font-family: "GraphikLCG";
  font-weight: 500;
  font-style: normal;
  src: url(font-path("GraphikLCG-Medium.woff"));
}

@font-face {
  font-family: "GraphikLCG";
  font-weight: 600;
  font-style: normal;
  src: url(font-path("GraphikLCG-Semibold.woff"));
}
